<section class="featured2 wrapper" id="anchor_collection">
    <div class="section__heading section__heading_featured2" title="Made with CSS Grid">
        <div class="section__heading_cube"></div>
        <h2 class="heading featured__heading">HandPicked</h2>
        <div class="section__heading_cube"></div>
    </div>

    <div class="featured2__content">
        <div class="bigger">
            <img src="images/big.jpg" alt="" class="bigger__img">
            <a href="javascript:" class="link featured2__link"><span class="btn featured2__btn">Shop now</span></a>
        </div>

        <div class="small small1">
            <img src="images/small1.jpg" alt="" class="small__img">
            <a href="javascript:" class="link featured2__link"><span class="btn featured2__btn">Shop now</span></a>
        </div>
        <div class="small small2">
            <img src="images/small2.jpg" alt="" class="small__img">
            <a href="javascript:" class="link featured2__link"><span class="btn featured2__btn">Shop now</span></a>
        </div>
        <div class="small small3">
            <img src="images/small3.jpg" alt="" class="small__img">
            <a href="javascript:" class="link featured2__link"><span class="btn featured2__btn">Shop now</span></a>
        </div>
        <div class="small small4">
            <img src="images/small4.jpg" alt="" class="small__img">
            <a href="javascript:" class="link featured2__link"><span class="btn featured2__btn">Shop now</span></a>
        </div>
    </div>
</section>