<section class="featured wrapper">
    <div class="section__heading section__heading_featured" title="Made with Flex">
        <div class="section__heading_cube"></div>
        <h2 class="heading featured__heading">HandPicked</h2>
        <div class="section__heading_cube"></div>
    </div>
    <div class="featured__inner">
        <div class="featured__content">
            <div class="big">
                <img src="images/big.jpg" alt="" class="big__img">
                <a href="javascript:" class="link featured__link"><span class="btn featured__btn">Shop now</span></a>
            </div>
            <div class="product product1">
                <div class="small small1">
                    <img src="images/small1.jpg" alt="" class="small__img">
                    <a href="javascript:" class="link featured__link"><span class="btn featured__btn">Shop now</span></a>
                </div>
                <div class="small small2">
                    <img src="images/small2.jpg" alt="" class="small__img">
                    <a href="javascript:" class="link featured__link"><span class="btn featured__btn">Shop now</span></a>
                </div>
            </div>

            <div class="product product2">
                <div class="small small3">
                    <img src="images/small3.jpg" alt="" class="small__img">
                    <a href="javascript:" class="link featured__link"><span class="btn featured__btn">Shop now</span></a>
                </div>
                <div class="small small4">
                    <img src="images/small4.jpg" alt="" class="small__img">
                    <a href="javascript:" class="link featured__link"><span class="btn featured__btn">Shop now</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
