<footer class="footer">
    <div class="wrapper">
        <div class="footer__blocks">
            <div class="footer__block footer__block_shops">
                <h4 class="footer__heading">Shops</h4>
                <ul class="footer__block_menu">
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">New In</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Women</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Men</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Shoes</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Bags & Accessories</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Top Brands</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Sale & Special Offers</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Lookbook</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block footer__block_information">
                <h4 class="footer__heading">INFORMATION</h4>
                <ul class="footer__block_menu">
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">About us</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Customer Service</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">New Collection</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Best Sellers</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Manufacturers</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Privacy policy</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Terms & condition</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block footer__block_customer">
                <h4 class="footer__heading">CUSTOMER SERVICE</h4>
                <ul class="footer__block_menu">
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Search Terms</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Advanced Search</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Orders and Returns</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Contact Us</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">RSS</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Help & FAQs</a></li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Consultant</a>
                    </li>
                    <li class="footer__block_item">
                        <a href="" class="link footer__block_link">Store Locations</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block footer__block_connect">
                <h4 class="footer__heading">STAY CONNECTED</h4>
                <div class="footer__block_connect-inner">
                <div class="footer__block_connect-links">
                    <a href="javascript:" class="footer__block_connect-link link" title="facebook">
                        <svg class="footer__block_connect-img footer__block_connect-img-facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 65.25">
                        <use xlink:href="img/svg/svg-symbols.svg#facebook_bg"></use>
                    </svg>
                    </a>
                    <a href="javascript:" class="footer__block_connect-link link" title="twitter"><svg class="footer__block_connect-img footer__block_connect-img-twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.76 51.52">
                        <use xlink:href="img/svg/svg-symbols.svg#twitter_bg"></use>
                    </svg></a>
                    <a href="javascript:" class="footer__block_connect-link link" title="instagram"><svg class="footer__block_connect-img footer__block_connect-img-instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62.14 62.07">
                        <use xlink:href="img/svg/svg-symbols.svg#instagram_bg"></use>
                    </svg></a>
                    <a href="javascript:" class="footer__block_connect-link link" title="pinterest"><svg class="footer__block_connect-img footer__block_connect-img-pinterest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.77 73.91">
                        <use xlink:href="img/svg/svg-symbols.svg#pinterest_bg"></use>
                    </svg></a>
                    <a href="javascript:" class="footer__block_connect-link link" title="rss"><svg class="footer__block_connect-img footer__block_connect-img-rss" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.45 46.56">
                        <use xlink:href="img/svg/svg-symbols.svg#rss_bg"></use>
                    </svg></a>
                </div>
                <p class="footer__block_connect-text">Subscribe <i>in</i> our news letter</p>
                <form id="subscribe" method="post" class="footer__form form">
                    <input type="email" name="subscribeEmail" class="footer__form_input" placeholder="Enter Your Email Address" required title="Subscribe Now">
                    <button type="submit" name="subscribeButton" class="footer__form_button" title="subscribe">Subscribe
                    </button>
                </form>
                    <p class="form__result"></p>
            </div>
            </div>


        </div>
        <div class="copyright">
            <small class="copyright__text">
                <span class="copyright__text_item">&copy; 2015  Shopia  Fashion Store Shopify.</span >
                <span  class="copyright__text_item">All Rights Reserved. Ecommerce Software by Shopify.</span >
                <span  class="copyright__text_item">Designed by MoccaLabs.com</span >
            </small>
            <div class="copyright__links">
                <a href="javascript:" class="copyright__link"><img src="images/visa.png" alt=""></a>
                <a href="javascript:" class="copyright__link"><img src="images/mastercard.png" alt=""></a>
                <a href="javascript:" class="copyright__link"><img src="images/americanexpress.png" alt=""></a>
                <a href="javascript:" class="copyright__link"><img src="images/discover.png" alt=""></a>
            </div>
        </div>
        <div class="scroll-to-top">
            <svg class="scroll-to-top__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70">
                <use xlink:href="img/svg/svg-symbols.svg#arrow_up"></use>
            </svg>
        </div>
    </div>
</footer>
<div class="footer__bottom">
    <div class="wrapper">
        <small>&copy; Landing practice 2018</small>
    </div>
</div>