<header>
    <div class="wrapper">
        <div class="header">
            <div class="menu__toggle menu__toggle_nav" title="Menu">
                <svg class="menu__toggle_nav-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 108.56">
                    <use xlink:href="img/svg/svg-symbols.svg#bars"></use>
                </svg>
            </div>
            <ul class="nav__menu">
                <li class="nav__menu_item">
                    <a href="#" class="link nav__menu_link">Home</a>
                </li>
                <li class="nav__menu_item">
                    <a href="#" class="link nav__menu_link">Gallery</a>
                </li>
                <li class="nav__menu_item">
                    <a href="#" class="link nav__menu_link">Categories</a>
                </li>
                <li class="nav__menu_item">
                    <a href="#" class="link nav__menu_link">Pages</a>
                </li>
            </ul>
            <h1><a href="javascript:" class="logo">Shopia</a></h1>
            <div class="socialMenu__select">
                <div class="menu__toggle menu__toggle_social" title="Social Menu">
                    <svg class="menu__toggle_social-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 108.56">
                        <use xlink:href="img/svg/svg-symbols.svg#bars"></use>
                    </svg>
                </div>
                <ul class="social__menu">
                    <li class="social__menu_item">
                        <a href="#" class="link social__menu_link" title="facebook">
                            <svg class="social__menu_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130">
                                <use xlink:href="img/svg/svg-symbols.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__menu_item">
                        <a href="#" class="link social__menu_link" title="twitter">
                            <svg class="social__menu_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130">
                                <use xlink:href="img/svg/svg-symbols.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__menu_item">
                        <a href="#" class="link social__menu_link" title="pinterest">
                            <svg class="social__menu_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130">
                                <use xlink:href="img/svg/svg-symbols.svg#pinterest"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__menu_item">
                        <a href="#" class="link social__menu_link" title="instagram">
                            <svg class="social__menu_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130">
                                <use xlink:href="img/svg/svg-symbols.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="header__select">
                    <select title="Choose Currency" name="currency" class="header__select_currency">
                        <option value="ruble">Ruble</option>
                        <option value="dollar">Dollar</option>
                        <option value="evro">Evro</option>
                        <option value="rupiah">Rupiah</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</header>