<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopia</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
    <link rel="preload" href="fonts/lato/lato-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="fonts/lato/lato-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="fonts/lato/lato-regular.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="fonts/lato/lato-bold.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="fonts/lato/lato-regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="fonts/lato/lato-bold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="fonts/playfair/playfairdisplay-italic.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="fonts/playfair/playfairdisplay-bolditalic.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="fonts/playfair/playfairdisplay-italic.woff" as="font" type="font/woff"
          crossorigin="anonymous">
    <link rel="preload" href="fonts/playfair/playfairdisplay-bolditalic.woff" as="font" type="font/woff"
          crossorigin="anonymous">
    <link rel="preload" href="fonts/playfair/playfairdisplay-italic.ttf" as="font" type="font/ttf"
          crossorigin="anonymous">
    <link rel="preload" href="fonts/playfair/playfairdisplay-bolditalic.ttf" as="font" type="font/ttf"
          crossorigin="anonymous">
    <link rel="preload" href="fonts/krinkes/krinkesdecorpersonal.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="fonts/krinkes/krinkesdecorpersonal.woff" as="font" type="font/woff"
          crossorigin="anonymous">
    <link rel="preload" href="fonts/krinkes/krinkesdecorpersonal.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>