<div class="promo" title="Made with Pseudo-element">
    <div class="wrapper">
        <div class="promo__items">
            <div class="promo__item promo__item_shipping ">
                <svg class="promo__item_img promo__item_img-shipping" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 40 40">
                    <use xlink:href="img/svg/svg-symbols.svg#shipping"></use>
                </svg>
                <div class="promo__item_content">
                    <a href="javascript:">
                        <h2 class="promo__item_title">FREE SHIPPING</h2>
                    </a>
                    <p class="promo__item_text"> In Order Min $200</p>
                </div>
            </div>
            <div class="promo__item promo__item_returns">
                <svg class="promo__item_img promo__item_img-returns" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 449.52">
                    <use xlink:href="img/svg/svg-symbols.svg#returns"></use>
                </svg>
                <div class="promo__item_content">
                    <a href="javascript:">
                        <h2 class="promo__item_title">30-DAYS RETURNS</h2>
                    </a>
                    <p class="promo__item_text">Money Back Guarantee</p>
                </div>
            </div>
            <div class="promo__item promo__item_support">
                <svg class="promo__item_img promo__item_img-support" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 50 50">
                    <use xlink:href="img/svg/svg-symbols.svg#support"></use>
                </svg>
                <div class="promo__item_content">
                    <a href="javascript:">
                        <h2 class="promo__item_title">24/7 SUPPORT</h2>
                    </a>
                    <p class="promo__item_text">Lifestyme Support</p>
                </div>
            </div>
        </div>
    </div>
</div>
