<section class="recent" id="anchor_shop">
    <div class="wrapper">
        <div class="section__heading">
            <div class="section__heading_cube"></div>
            <h2 class="heading featured__heading">Summer Collection</h2>
            <div class="section__heading_cube"></div>
        </div>
        <div class="recent__inner">
            <div class="recent__cards">
                <div class="card recent__card">
                    <a href="javascript:" class="card__link">
                        <img src="images/card1.jpg" alt="card1" class="card__img">
                    </a>
                    <a href="javascript:" class="label">20%</a>
                        <form method="post" class="form__addcart">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="hidden" name="count" value="">
                            <button title="Добавить в корзину" type="submit" name="addToCart" class="btn btn__addcart">
                                <svg class="btn__addcart_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <use xlink:href="img/svg/svg-symbols.svg#plus"></use>
                                </svg>
                                Add To Cart
                            </button>
                        </form>
                </div>
                <div class="card recent__card">
                    <a href="javascript:" class="card__link"><img src="images/card2.jpg" alt="card2" class="card__img">
                    </a>
                        <form method="post" class="form__addcart">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="hidden" name="count" value="">
                            <button title="Добавить в корзину" type="submit" name="addToCart" class="btn btn__addcart">
                                <svg class="btn__addcart_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <use xlink:href="img/svg/svg-symbols.svg#plus"></use>
                                </svg>
                                Add To Cart
                            </button>
                        </form>
                </div>
                <div class="card recent__card">
                    <a href="javascript:" class="card__link">
                        <img src="images/card3.jpg" alt="card3" class="card__img">
                    </a>
                        <form method="post" class="form__addcart">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="hidden" name="count" value="">
                            <button title="Добавить в корзину" type="submit" name="addToCart" class="btn btn__addcart">
                                <svg class="btn__addcart_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <use xlink:href="img/svg/svg-symbols.svg#plus"></use>
                                </svg>
                                Add To Cart
                            </button>
                        </form>
                </div>
                <div class="card recent__card">

                    <a href="javascript:" class="card__link"><img src="images/card4.jpg" alt="card4" class="card__img">
                    </a>
                    <a href="javascript:" class="label">40%</a>
                        <form method="post" class="form__addcart">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="hidden" name="count" value="">
                            <button title="Добавить в корзину" type="submit" name="addToCart" class="btn btn__addcart">
                                <svg class="btn__addcart_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <use xlink:href="img/svg/svg-symbols.svg#plus"></use>
                                </svg>
                                Add To Cart
                            </button>
                        </form>
                </div>
                <div class="card recent__card">
                    <a href="javascript:" class="card__link"><img src="images/card5.jpg" alt="card5" class="card__img">
                    </a>
                    <a href="javascript:" class="label">20%</a>
                        <form method="post" class=" form__addcart">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="hidden" name="count" value="">
                            <button title="Добавить в корзину" type="submit" name="addToCart" class="btn btn__addcart">
                                <svg class="btn__addcart_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <use xlink:href="img/svg/svg-symbols.svg#plus"></use>
                                </svg>
                                Add To Cart
                            </button>
                        </form>
                </div>
                <div class="card recent__card">

                    <a href="javascript:" class="card__link"><img src="images/card6.jpg" alt="card6" class="card__img">
                    </a>
                        <form method="post" class="form__addcart">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="hidden" name="count" value="">
                            <button title="Добавить в корзину" type="submit" name="addToCart" class="btn btn__addcart">
                                <svg class="btn__addcart_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <use xlink:href="img/svg/svg-symbols.svg#plus"></use>
                                </svg>
                                Add To Cart
                            </button>
                        </form>
                </div>
                <div class="card recent__card">

                    <a href="javascript:" class="card__link"><img src="images/card7.jpg" alt="card7" class="card__img">
                    </a>

                        <form method="post" class="form__addcart">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="hidden" name="count" value="">
                            <button title="Добавить в корзину" type="submit" name="addToCart" class="btn btn__addcart">
                                <svg class="btn__addcart_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <use xlink:href="img/svg/svg-symbols.svg#plus"></use>
                                </svg>
                                Add To Cart
                            </button>
                        </form>

                </div>
                <div class="card recent__card">
                    <a href="javascript:" class="card__link"><img src="images/card8.jpg" alt="card8" class="card__img">
                    </a>
                    <a href="javascript:" class="label">40%</a>
                        <form method="post" class="form__addcart">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="hidden" name="count" value="">
                            <button title="Добавить в корзину" type="submit" name="addToCart" class="btn btn__addcart">
                                <svg class="btn__addcart_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                    <use xlink:href="img/svg/svg-symbols.svg#plus"></use>
                                </svg>
                                Add To Cart
                            </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>