<div class="slider">
    <div class="wrapper">
        <img src="images/slider1.jpg" srcset="images/slider1_2x.jpg 2x, images/slider1_3x.jpg 3x" alt="" class="slider__img">
        <div class="slider__triangle">
            <img src="images/slider_triangle.png" alt="">
        </div>
        <div class="slider__text">
            <p class="p1">MID-SEASON</p>
            <p class="p2">SALE</p>
            <p class="p3">-- UP TO --</p>
            <p class="p4">50 % OFF</p>
        </div>
    </div>
</div>