<div class="slider">
    <div class="wrapper-full">
        <div class="slider__items">
            <div class="slider__item">
                <img src="images/slider1.jpg" srcset="images/slider1_2x.jpg 2x, images/slider1_3x.jpg 3x" alt="" class="slider__img">
                <div class="slider__triangle">
                    <img src="images/slider_triangle.png" alt="">
                </div>
                <div class="slider__text">
                    <p class="p1">MID-SEASON</p>
                    <p class="p2">SALE</p>
                    <div class="p3__div">
                            <span class="spanLeft__top"></span>
                            <span class="spanLeft__bottom"></span>
                        <p class="p3">UP TO</p>
                            <span class="spanRight__top"></span>
                            <span class="spanRight__bottom"></span>
                    </div>
                    <p class="p4">50 % OFF</p>
                </div>
                <a href="" class="slider__link link">
                    <span class="slider__button">Shop Now</span>
                </a>

            </div>
            <div class="slider__item">
                <img src="images/slider2.jpg" srcset="images/slider2_2x.jpg 2x, images/slider2_3x.jpg 3x" alt="" class="slider__img">
                <div class="slider__triangle">
                    <img src="images/slider_triangle.png" alt="">
                </div>
                <div class="slider__text slider__text_left">
                    <p class="p1">Shoes</p>
                    <p class="p2">SALE</p>
                    <div class="p3__div">
                        <span class="spanLeft__top"></span>
                        <span class="spanLeft__bottom"></span>
                        <p class="p3">UP TO</p>
                        <span class="spanRight__top"></span>
                        <span class="spanRight__bottom"></span>
                    </div>
                    <p class="p4">30 % OFF</p>
                </div>
                <a href="" class="slider__link link">
                    <span class="slider__button">Shop Now</span>
                </a>
            </div>
            <div class="slider__item">
                <img src="images/slider3.jpg" srcset="images/slider3_2x.jpg 2x, images/slider3_3x.jpg 3x" alt="" class="slider__img">
                <div class="slider__triangle">
                    <img src="images/slider_triangle.png" alt="">
                </div>
                <div class="slider__text  slider__text_right">
                    <p class="p1">Gold</p>
                    <p class="p2">SALE</p>
                    <div class="p3__div">
                        <span class="spanLeft__top"></span>
                        <span class="spanLeft__bottom"></span>
                        <p class="p3">UP TO</p>
                        <span class="spanRight__top"></span>
                        <span class="spanRight__bottom"></span>
                    </div>
                    <p class="p4">40 % OFF</p>
                </div>
                <a href="" class="slider__link link">
                    <span class="slider__button">Shop Now</span>
                </a>
            </div>
            <div class="slider__item">
                <img src="images/slider4.jpg" srcset="images/slider4_2x.jpg 2x, images/slider4_3x.jpg 3x" alt="" class="slider__img">
                <div class="slider__triangle">
                    <img src="images/slider_triangle.png" alt="">
                </div>
                <a href="" class="slider__link link">
                    <span class="slider__button">Shop Now</span>
                </a>
            </div>
        </div>

    </div>
</div>