<section class="testimonial">
    <div class="wrapper">
        <div class="section__heading">
            <div class="section__heading_cube"></div>
            <h2 class="heading featured__heading">Customers Says</h2>
            <div class="section__heading_cube"></div>
        </div>
    </div>
    <div class="testimonial__inner">
        <div class="testimonial__triangle">
            <img src="images/testimonial_triangle.png" alt="">
        </div>
        <div class="wrapper">

            <div class="testimonial__items">
                <div class="testimonial__item testimonial__item_left">
                    <div class="testimonial__img">
                        <img src="images/person1.png" alt="">
                    </div>

                    <div class="testimonial__content">
                        <p class="testimonial__text">Sed ut perspiciatis
                            unde omnis iste natus error sit
                            voluptatem accusantium doloremque </p>
                        <address class="testimonial__author">
                            <p class="testimonial__author_name">Sandra Dewi</p>
                            <p class="testimonial__author_post">FASHION STYLISH</p>
                        </address>
                    </div>
                </div>
                <div class="testimonial__item testimonial__item_right">
                    <div class="testimonial__img">
                        <img src="images/person2.png" alt="">
                    </div>
                    <div class="testimonial__content">
                        <p class="testimonial__text">Sed ut perspiciatis
                            unde omnis iste natus error sit
                            voluptatem accusantium doloremque </p>
                        <address class="testimonial__author">
                            <p class="testimonial__author_name">Shaheer Sheikh</p>
                            <p class="testimonial__author_post">DESIGNER</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>