<div class="user">
    <div class="wrapper">
        <div class="user__inner">
            <address class="user__phone">
                <svg class="user__phone_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 64">
                    <use xlink:href="img/svg/svg-symbols.svg#phone"></use>
                </svg>
                <a href="tel:001555801" class="link user__phone_link">Call +001 555 801</a>
            </address>
            <div class="menu__toggle menu__toggle_user" title="Menu">
                <svg class="menu__toggle_user-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 108.56">
                    <use xlink:href="img/svg/svg-symbols.svg#bars"></use>
                </svg>
            </div>
            <ul class="user__menu">
                <li class="user__menu_item">
                    <a href="" class="link user__menu_link">Welcome MSG!</a>
                </li>
                <li class="user__menu_item">
                    <a href="" class="link user__menu_link">MY ACCOUNT</a>
                </li>
                <li class="user__menu_item">
                    <a href="" class="link user__menu_link">MY WHISTLIST</a>
                </li>
                <li class="user__menu_item">
                    <a href="" class="link user__menu_link">LOGIN</a>
                </li>

            </ul>
        </div>
    </div>
</div>