header {

}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  .row-flex();
  justify-content: center;
  align-items: center;
  position: relative;

  .menu__toggle {
    display: none;
    .col();
    .size(4);
    .size-md(4);
    .size-sm(6);
    cursor: pointer;
    color: @color_black;
    .lg-block({ display: block; text-align: center; });
    .md-block({ text-align: left; });
    .xs-block({ display: none; });
    &_img {
      display: inline-block;
      fill: currentColor;
      width: 39px;
      height: 32px;
    }

  }
  .nav__menu {
    .col();
    .size(4);
    .size-md(4);
    .size-sm(4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: @font_Playfair;
    font-weight: normal;
    font-style: italic;
    font-size: 1.125rem;
    .lg-block({
      display: none;
      position: absolute;
      left: 0;
      background: rgba(255, 255, 255, .9);
      top: 100%;
      z-index: 999;
      padding: 20px 0;
      text-align: center; });
    &_item {
      &.actived .nav__menu_link {
        color: @color_primery;
      }
      .lg-block({ display: block; transition: all 1s; &::after {
        content: "";
        display: block;
        background: @color_grey;
        width: 0;
        height: 2px;
        margin: 0 auto;
        transition: width 0.5s;
      } &:hover::after {
          width: 90%;
        } });
    }
    &_link {
      padding: 15px 0;
      display: block;
      transition: all 1s;
      &:hover {
      }
    }
  }
  .logo {
    .col();
    .size(4);
    .size-md(4);
    .size-sm(12);
    font-family: @font_Krinkes;
    font-size: 450%;
    text-align: center;
    line-height: 18px;
    align-self: flex-end;
    .md-block({ font-size: 350%; });
    .sm-block({ font-size: 300%; order: -1; padding-top: 20px; });
    .xs-block({ });
  }
  .socialMenu__select {
    .col();
    .size(4);
    .size-md(4);
    .size-sm(6);
    .size-xs(12);
    display: flex;
    align-items: center;
    .sm-block({ });
  }
  .social__menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    .md-block({ display: none; });
    .xs-block({ });
    &_item {
      .lg-block({ display: inline-block; vertical-align: middle; });
    }
    &_link {
      padding: 15px 0;
      display: flex;
      align-items: center;
      color: @color_primery;
      .md-block({ justify-content: center; });
      &:hover {
        color: darken(@color_primery, 20%);
      }
    }
    &_img {
      display: inline-block;
      fill: currentColor;
      width: 34px;
      height: 34px;
      stroke-width: 0;
      stroke: currentColor;
    }
  }

  &__select {
    position: relative;
    .md-block({ margin-left: auto; });
    .xs-block({ margin: 20px 0 0 0; });
    &:after {
      position: absolute;
      content: url("../img/svg/icons/select_arrow_down.svg");
      right: 4px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 20px;
      height: 20px;
      pointer-events: none;
    }
    &:before {
      content: '';
      right: 4px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 20px;
      height: 20px;
      background: #000;
      position: absolute;
      pointer-events: none;
      display: block;
    }
    &_currency {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      background: @color_black;
      color: @color_white;
      padding: 12px 32px 12px 12px;
      border: none;
      outline: none;
      cursor: pointer;
      display: inline-block;
      &:focus {
        box-shadow: none;
      }
      option {
        font-size: 14px;
        text-transform: uppercase;
        &:checked {
          background-color: @color_grey_light;
        }
      }

    }
  }

}



