.slider {
  //background: #B6B2AE;
  //line-height: 0;

  .wrapper-full{
    padding-left: 0;
    padding-right: 0;
  }

  &__items{
    position: relative;
  }
  &__item{
    position: relative;

  }
  &__img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: top center;
   .xs-block({});
    //@media all and (orientation: landscape) {
    //  height: 100vh;
    //}
  }
  &__triangle{
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: auto;
    width: 27%;
    height: 10%;
    img{
      margin: 0 auto;
    }
  }
  &__text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30%;
      width: 277px;
      height: 277px;
      margin: 0 auto;
    font-family: @font_Lato;
    font-weight: bold;
    padding: 10px;
    background: transparent;
    border: 2px solid @color_white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .lg-block({
      background: rgba(172, 172, 172, 0.7);
    });
    .xs-block({
      //@media all and (orientation: landscape){
      //  height: 187px;
      //}
    });

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 1.8%;
      left: 1.8%;
      right: 1.8%;
      bottom: 1.8%;
      border: 1px solid @color_white;
    }
    .p1 {
      font-size: 1.21rem;
      color: @color_white;
    }
    .p2 {
     font-size: 3.75rem;
      color: @color_black;
    }
    .p3__div{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 0px 10px;
      align-items: center;
      grid-template-areas:
              "spanLeftTop p3 spanRightTop"
              "spanLeftBottom p3 spanRightBottom";
    }
    .spanLeft__top{
      display: inline-block;
      background: @color_white;
      width: 30px;
      height: 2px;
      margin-left: auto;
      grid-area: spanLeftTop;
    }
    .spanLeft__bottom{
      display: inline-block;
      background: @color_white;
      width: 55px;
      height: 2px;
      margin-left: auto;
      text-align: right;
      grid-area: spanLeftBottom;
    }
    .p3 {
      font-size: 1.22rem;
      color: @color_white;
      grid-area: p3;
    }
    .spanRight__top{
      display: inline-block;
      background: @color_white;
      width: 30px;
      height: 2px;
      grid-area: spanRightTop;
    }
    .spanRight__bottom{
      display: inline-block;
      background: @color_white;
      width: 55px;
      height: 2px;
      grid-area: spanRightBottom;
     }
    .p4 {
      font-size: 1.96rem;
      color: @color_black;

    }
    &_left{
      left: 5%;
      right: initial;
      .xs-block({
        left: 0;
        right: 0;
      });
    }
    &_right{
      right: 8%;
      left: initial;
      .xs-block({
        right: 0;
        left: 0;
      });
    }
  }

  &__link{
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    .sm-block({
      //top: 75%;
    });
  }
  &__button{
    padding: 10px 30px;
    background: @color_button;
    color: @color_white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  }


