.slider {
  //background: #B6B2AE;
  //line-height: 0;

  .wrapper-full {
    padding-left: 0;
    padding-right: 0;
  }

  &__items {
    position: relative;
  }
  &__item {
    position: relative;
  }
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: top center;
    min-width: 500px;
  }
  &__triangle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    .xs-block({
      display: none;
    });
    img {
      margin: 0 auto;
      .sm-block({
        width:200px;
      });
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    width: 277px;
    margin: 0 auto;
    .md-block({
      top: 20%;
    });
    .sm-block({
      top: 15%;
    });
    .xs-block({
      top: 5%;
      width: 250px;
    });
  }
  &__text {
    width: 100%;
    font-family: @font_Lato;
    font-weight: bold;
    padding: 30px 0;
    background: rgba(172, 172, 172, 0.7);
    border: 2px solid @color_white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .md-block({
      padding: 12px 0;
    });
    .xs-block({
      padding: 10px 0;
      background: rgba(172, 172, 172, 0.9);
    });
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 1.8%;
      left: 1.8%;
      right: 1.8%;
      bottom: 1.8%;
      border: 1px solid @color_white;
    }
    .p1 {
      font-size: 1.2rem;
      color: @color_white;
      padding-bottom: 20px;
      .md-block({
        padding-bottom: 7px;
      });
      .sm-block({
        font-size: 1rem;
      });
      .xs-block({
        padding-bottom: 7px;
      });
    }
    .p2 {
      font-size: 3.75rem;
      color: @color_black;
      padding-bottom: 20px;
      .md-block({
        padding-bottom: 7px;
        font-size: 3.2rem;
      });
      .sm-block({
        font-size: 2.5rem;
      });
      .xs-block({
        padding-bottom: 7px;
      });
    }
    .p3__div {
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 0 10px;
      align-items: center;
      grid-template-areas: "spanLeftTop p3 spanRightTop"
                           "spanLeftBottom p3 spanRightBottom";
      .md-block({
        padding-bottom: 7px;
      });
      .xs-block({
        padding-bottom: 7px;
      });
    }
    .spanLeft__top {
      display: inline-block;
      background: @color_white;
      width: 30px;
      height: 2px;
      margin-left: auto;
      grid-area: spanLeftTop;
      .sm-block({
        height: 1px;
      });
    }
    .spanLeft__bottom {
      display: inline-block;
      background: @color_white;
      width: 55px;
      height: 2px;
      margin-left: auto;
      text-align: right;
      grid-area: spanLeftBottom;
      .sm-block({
        height: 1px;
      });
    }
    .p3 {
      font-size: 1.2rem;
      color: @color_white;
      grid-area: p3;
      .sm-block({
        font-size: 1rem;
      });
    }
    .spanRight__top {
      display: inline-block;
      background: @color_white;
      width: 30px;
      height: 2px;
      grid-area: spanRightTop;
      .sm-block({
        height: 1px;
      });
    }
    .spanRight__bottom {
      display: inline-block;
      background: @color_white;
      width: 55px;
      height: 2px;
      grid-area: spanRightBottom;
      .sm-block({
        height: 1px;
      });
    }
    .p4 {
      font-size: 1.96rem;
      color: @color_black;
      .sm-block({
        font-size: 1.4rem;
      });
      .xs-block({
        font-size: 1.2rem;
      });

    }
  }

  &__link {
    margin-top: 30px;
    text-align: center;
    .md-block({
      margin-top: 18px;
    });
    .sm-block({
      margin-top: 15px;
    });
    .xs-block({
    });
  }
  &__button {
    padding: 10px 30px;
    background: @color_button;
    color: @color_white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    .md-block({
      font-size: 1.2rem;
      padding: 8px 30px;
    });
    .sm-block({
      font-size: 1rem;
    });
  }
}


