.testimonial {
  padding-top: 30px;

  &__heading {

  }
&__inner{
  background: @color_primery;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
  &__triangle {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: auto;
    .xs-block({ display: none;});
    img {
      margin: 0 auto;
    }
  }
  &__items {
    .row-flex();
    justify-content: flex-start;
    .md-block({justify-content: center;});
  }

  &__item {
    .col();
    .size(6);
    .size-md(10);
    .size-sm(12);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    .md-block({
      border-bottom: 1px solid darken(@color_primery, 5%);
    });
    .xs-block({
      text-align: center;
      padding-bottom: 10px; });
    &_left {

    }
    &:nth-child(2n) {
      .testimonial__content {
        order: -1;
        text-align: right;
        .xs-block({ order: 0; text-align: center; });
      }
    }
  }
  &__img {
    align-self: center;
    .size_custom(5);
    .xs-block({
      .size_custom(6);
    });
    img {
      width: 100%;
    }
  }
  &__content {
    .size_custom(7);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
    min-height: 100%;
    .xs-block({
      .size_custom(10);
      min-height: auto;
    });
  }
  &__text {
    color: @color_white;
    font-family: @font_Playfair;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 30px;
  }
  &__author {
    margin-top: auto;
    .xs-block({ margin-top: 10px; });

    &_name {
      color: @color_black;
      font-family: @font_Playfair;
      font-weight: bold;
      font-style: italic;
      font-size: 1.875rem;
    }
    &_post {
      color: @color_footer_text;
      font-family: @font_Lato;
      font-weight: bold;
      font-size: 0.875rem;
      text-transform: uppercase;
    }

  }
}