
.user {
  background: @color_white_dark;
  font-size: 0.6875rem;
  .wrapper{

  }
  &__inner{
    .row-flex();
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  &__menu {
    .col();
    display: flex;
    flex-wrap: wrap;
    .md-block({
      display: block;
      position: fixed;
      padding: 25px 10px;
      margin: 0;
      box-sizing: border-box;
      width: 250px;
      background: @color_white_dark;
      top: 0;
      bottom: 0;
      right: -250px;
      transition:  right .2s;
      z-index: 9999;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    });
    &_ticker {
      display: none;
      &:checked ~ .user__menu_toggle {
        z-index: 10000;
      }
      &:checked ~ .user__menu {
        right: 0;
      }
      &:checked ~ .user__menu_toggle span.first {
        -webkit-transform: rotate(45deg);
        top: 10px;
        background: @color_black;
      }
      &:checked ~ .user__menu_toggle span.second {
        opacity: 0;
      }
      &:checked ~ .user__menu_toggle span.third {
        -webkit-transform: rotate(-45deg);
        top: -10px;
        background: @color_black;
      }
    }
    &_toggle {
      color: @color_grey_light;
      display: none;
      .col();
      cursor: pointer;
      background: transparent;
      padding: 0;
      position: fixed;
      top: 5px;
      right: 5px;
      transition:  all .23s;
      z-index: 3;
      width: 25px;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      &:hover span{
      background: @color_black;
    }
      span{
        display: block;
        height: 5px;
        background: @color_grey_light;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
        &.first{
            margin-top: 0;
        }
      }
      .md-block({
        display: block;
      });
      &-img{
        display: inline-block;
        fill: currentColor;
        width: 29px;
        height: 22px;
        &:hover{
          fill: @color_black;
        }
      }
    }
    &_item {
      &:not(:last-child){
      border-right: 1px solid @color_black;
        .md-block({
          border-right: 0 none;
        });
    }
      &:last-child>.user__menu_link{
        padding-right:0;
        .md-block({
          padding-right: 35px;
        });
    }
    }
    &_link {
      display: flex;
      align-items: center;
      padding: 0 35px;
      color: @color_black;
      text-transform: uppercase;
      .md-block({
        display: block;
        padding: 15px 35px;
        &:hover{
        background: darken(@color_white_dark, 10%);
      }
      });

    }
  }
  &__phone {
    .col();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &_img {
      width: 10px;
      height: 10px;
      fill: currentColor;
      margin-right: 20px;
      &:hover {
        fill: @color_grey;
      }
    }
  }
}